// _mixins
// ========
@mixin backImage($image) {
  background: url($image) repeat; 
  -webkit-background-size: auto;
  -moz-background-size: auto;
  -o-background-size: auto;
  background-size:auto;

  @media (min-width: 801px) {
   padding-bottom:60px
  }

  @media (max-width: 800px) {
  padding-bottom:60px
  }

  @media (max-width: 300px) {
   padding-bottom:60px
  }
}


@mixin boxShadow() {

  -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
  -o-box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
  box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
	
}

/* CSS Document */

